### import required modules

In [12]:
from bqplot import pyplot as plt
from bqplot import *
import numpy as np
import pandas as pd

### A basic plot with bqplot

In [13]:
np.random.seed(0)
n = 200
x = np.linspace(0.0, 10.0, n)
y = np.cumsum(np.random.randn(n))

In [4]:
plt.figure(1, title='Line Chart')
plt.plot(x, y)
plt.show()

A Jupyter Widget

### Read in and view the data

In [5]:
df = pd.read_csv("data-fifa-by-year.csv")

In [6]:
df.head()

   Year First place Second place     Third place
0  1993     Germany        Italy          Brazil
1  1994      Brazil        Spain          Sweden
2  1995      Brazil      Germany           Italy
3  1996      Brazil      Germany          France
4  1997      Brazil      Germany  Czech Republic

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Year            24 non-null int64
First place     24 non-null object
Second place    24 non-null object
Third place     24 non-null object
dtypes: int64(1), object(3)
memory usage: 520.0+ bytes

### Creating first plot on the data

In [8]:
plt.plot(df.Year, df["First place"])
plt.show()

A Jupyter Widget

Visualizing data on a map

In [14]:
data = pd.read_csv("2008-election-results.csv")

In [15]:
data.head()

,Unnamed: 0,County,FIPS,State,Obama %,McCain %,Obama,McCain
0,0,"State House District 8, Denali-University",2008.0,AK,48.40,48.28,4995.0,4983.0
1,0,"State House District 37, Bristol Bay-Aleuti",2037.0,AK,40.04,57.04,1868.0,2661.0
2,0,"State House District 12, Richardson-Glenn H",2012.0,AK,25.22,72.04,1914.0,5467.0
3,0,"State House District 13, Greater Palmer",2013.0,AK,24.29,73.16,2800.0,8432.0
4,0,"State House District 14, Greater Wasilla",2014.0,AK,20.39,77.54,2132.0,8108.0

In [16]:
map_fig = plt.figure(title="Elections", min_width=1300, min_height=800)

In [26]:
map_tt = Tooltip(fields=['name', 'color'], labels=['County Name', 'Democrat %'])

In [27]:
map_res = plt.geo(map_data=topo_load('map_data/USCountiesMap.json'), stroke_color='black', colors = {'default_color': 'Black'}, scales = {'projection': AlbersUSA(), 'color': ColorScale(colors=['Red', 'Gray', 'DeepSkyBlue'])}, color=dict(zip(data['FIPS'], data['Obama %'])), tooltip=map_tt)

In [28]:
map_fig

A Jupyter Widget

In [20]:
zip(data['FIPS'], data['Obama %'])

In [29]:
AlbersUSA()

AlbersUSA()